body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    background: linear-gradient(to right, #0F2027, #203A43, #2C5364);
    color: #F5F5F5;
}

#navbar {
    background: #262626;
    padding: 10px;
    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.5);
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

#navbar li a {
    color: #F5F5F5;
    text-decoration: none;
}

#navbar li a:hover {
    text-decoration: underline;
}

#main {
    flex-grow: 1;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

#main section {
    background: #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#main h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #fff;
}

#main h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #ccc;
}

#main p {
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 0.8em;
    color: #aaa;
}

#intro {
    text-align: center;
    margin: 20px 0;
}

#profile-pic {
    width: 150px; /* Adjust this value according to your preference */
    height: 150px; /* Adjust this value according to your preference */
    border-radius: 50%;
}

#email {
    font-size: 0.9em;
    color: #ccc;
}
