body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    background: linear-gradient(to right, #0F2027, #203A43, #2C5364);
    color: #F5F5F5;
}

#sidebar {
    width: 250px;
    padding: 20px;
    background: #262626;
    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.5);
}

#sidebar img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
}

#sidebar h1 {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #fff;
}

#sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

#sidebar nav ul li {
    margin-bottom: 10px;
}

#sidebar nav ul li a {
    color: #F5F5F5;
    text-decoration: none;
}

#sidebar nav ul li a:hover {
    text-decoration: underline;
}

#main {
    flex-grow: 1;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

#main section {
    background: #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#main h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #fff;
}

#main h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #ccc;
}

#main p {
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 0.9em;
    color: #aaa;
}
