body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    background: #000;
    color: #fff;
}

header {
    background: #000;
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #aaa;
}

#main img {
    border-radius: 50%;
}

#main section {
    width: 80%;
    background: #222;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

#main h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #fff;
}

#main h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #ccc;
}

#main p {
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 0.9em;
}
